*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    width: 100%;
  }


/* Styling for file input button */
input[type="file"] {
    display: none; /* Hides the original file input button */
}


/* Styling for custom file input button */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */
     
}


.custom-file-upload:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}


